%div.switch-filter
  - if @label.present?
    %div.switch-label= @label
  %div.switch-group
    - if content
      %div.switch-content= content
    - if @boolean_switch
      = hidden_field_tag @name, @value
    %label.switch{for: check_box_id}
      = check_box_tag  check_box_name, @value, @checked, class: '', id:  check_box_id, onChange: "#{boolean_switch_action}"
      %span.slider
- if @help
  %div.upload-ontology-desc
    = @help
  